n8n/workflows/04-bookmark-ingest.json
{
  "name": "Bookmark Ingest (Real-time)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bookmark",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1000001-0000-0000-0000-000000000001",
      "name": "Bookmark Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "bookmark",
      "notes": "Receives POST from Chrome extension or iOS Shortcut.\nURL: http://localhost:5678/webhook/bookmark\nBody: { url, title, folder }"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://sidecar:8000/bookmarks/digest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ url: $json.body.url, title: $json.body.title || '' }) }}"
      },
      "id": "d1000001-0000-0000-0000-000000000002",
      "name": "Digest with LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300],
      "notes": "Sends the bookmark URL to the sidecar for fetching + LLM distillation."
    },
    {
      "parameters": {
        "jsCode": "const digest = $input.first().json;\nconst webhook = $('Bookmark Webhook').first().json;\nconst folder = webhook.body.folder || 'unfiled';\n\nlet md = `## ${digest.title || webhook.body.url}\\n\\n`;\nmd += `${digest.summary || 'No summary available.'}\\n\\n`;\nif (digest.key_takeaways && digest.key_takeaways.length) {\n  md += '**Takeaways:**\\n';\n  for (const t of digest.key_takeaways) {\n    md += `- ${t}\\n`;\n  }\n  md += '\\n';\n}\nmd += `*${digest.category || 'uncategorized'} · ${digest.read_time_minutes || '?'} min read · ${folder}*\\n\\n`;\nmd += `[Read original](${digest.url || webhook.body.url})\\n`;\n\nreturn [{\n  json: {\n    ...digest,\n    folder: folder,\n    digest_markdown: md,\n    source_url: digest.url || webhook.body.url,\n    source_title: digest.title || webhook.body.title || ''\n  }\n}];"
      },
      "id": "d1000001-0000-0000-0000-000000000003",
      "name": "Format Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'digested', title: $json.source_title, category: $json.category, summary: ($json.summary || '').substring(0, 200) }) }}"
      },
      "id": "d1000001-0000-0000-0000-000000000004",
      "name": "Respond to Extension",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1040, 200],
      "notes": "Sends a response back to the Chrome extension so it knows the bookmark was processed."
    },
    {
      "parameters": {},
      "id": "d1000001-0000-0000-0000-000000000005",
      "name": "Output",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1040, 420],
      "notes": "Replace with: Send Email (daily digest batch), Write to File (Astro blog), or Google Sheets (log)."
    }
  ],
  "connections": {
    "Bookmark Webhook": {
      "main": [[{ "node": "Digest with LLM", "type": "main", "index": 0 }]]
    },
    "Digest with LLM": {
      "main": [[{ "node": "Format Digest", "type": "main", "index": 0 }]]
    },
    "Format Digest": {
      "main": [
        [
          { "node": "Respond to Extension", "type": "main", "index": 0 },
          { "node": "Output", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
