n8n/workflows/06-professional-content.json
{
  "name": "Professional Content → Astro Blog",
  "nodes": [
    {
      "parameters": {},
      "id": "e1000002-0001-4000-8000-000000000001",
      "name": "Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [220, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.blog_section }}",
                    "rightValue": "mindmap",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mindmap"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "" },
                "conditions": [
                  {
                    "leftValue": "={{ $json.blog_section }}",
                    "rightValue": "feed",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "feed"
            }
          ],
          "fallbackOutput": {
            "renameOutput": true,
            "outputKey": "feed"
          }
        },
        "options": { "allMatchingOutputs": false }
      },
      "id": "e1000002-0001-4000-8000-000000000002",
      "name": "Route by Blog Section",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [480, 400]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nfrom datetime import datetime\n\nitem = _input.first().json\ntopic = item.get('topic', 'other')\nsubtopic = item.get('subtopic', 'general')\ntitle = item.get('title', 'Untitled')\nurl = item.get('url', '')\nsummary = item.get('summary', '')\ntakeaways = item.get('key_takeaways', [])\ntags = item.get('suggested_tags', [])\n\n# Map topics to directory names\ntopic_dirs = {\n    'ai_ml': 'ai',\n    'software_engineering': 'engineering',\n    'psychology_motivation': 'psychology',\n    'startups': 'startups',\n    'career': 'career',\n}\ndir_name = topic_dirs.get(topic, 'other')\n\nnow = datetime.now()\ndate_str = now.strftime('%Y-%m-%d')\n\n# Create URL-safe slug from title\nslug = title.lower()\nfor ch in ['\"', \"'\", '.', ',', ':', ';', '!', '?', '(', ')', '[', ']', '{', '}', '/', '\\\\', '&', '#', '@']:\n    slug = slug.replace(ch, '')\nslug = slug.replace(' ', '-')[:60].strip('-')\n\n# Build Astro-compatible markdown with frontmatter\nfrontmatter = f\"\"\"---\ntitle: \"{title}\"\ndate: {date_str}\ntopic: {topic}\nsubtopic: {subtopic}\ntags: {json.dumps(tags)}\nsource: \"{url}\"\nsection: mindmap\n---\"\"\"\n\nbody = f\"\\n## Summary\\n\\n{summary}\\n\\n\"\n\nif takeaways:\n    body += '## Key Takeaways\\n\\n'\n    for t in takeaways:\n        body += f'- {t}\\n'\n    body += '\\n'\n\nif url:\n    body += f'[Original source]({url})\\n'\n\nfile_path = f'src/content/mindmap/{dir_name}/{date_str}-{slug}.md'\ncommit_message = f'mindmap({dir_name}): {title[:50]}'\n\nreturn [{\n    'json': {\n        'file_path': file_path,\n        'file_content': frontmatter + body,\n        'commit_message': commit_message,\n        'title': title,\n        'topic': topic,\n        'blog_section': 'mindmap',\n    }\n}]"
      },
      "id": "e1000002-0001-4000-8000-000000000003",
      "name": "Format Mindmap Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 300]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nfrom datetime import datetime\n\nitem = _input.first().json\ntitle = item.get('title', 'Untitled')\nurl = item.get('url', '')\nsummary = item.get('summary', '')\ntags = item.get('suggested_tags', [])\n\nnow = datetime.now()\ndate_str = now.strftime('%Y-%m-%d')\ntime_str = now.strftime('%H%M')\niso_time = now.strftime('%Y-%m-%dT%H:%M:%S')\n\n# Create URL-safe slug\nslug = title.lower()\nfor ch in ['\"', \"'\", '.', ',', ':', ';', '!', '?', '(', ')', '[', ']', '{', '}', '/', '\\\\', '&', '#', '@']:\n    slug = slug.replace(ch, '')\nslug = slug.replace(' ', '-')[:60].strip('-')\n\nfrontmatter = f\"\"\"---\ntitle: \"{title}\"\ndate: {iso_time}\ntags: {json.dumps(tags)}\nsource: \"{url}\"\nsection: feed\n---\"\"\"\n\nbody = f\"\\n{summary}\\n\"\nif url:\n    body += f\"\\n[Read more]({url})\\n\"\n\nfile_path = f'src/content/feed/{date_str}-{time_str}-{slug}.md'\ncommit_message = f'feed: {title[:50]}'\n\nreturn [{\n    'json': {\n        'file_path': file_path,\n        'file_content': frontmatter + body,\n        'commit_message': commit_message,\n        'title': title,\n        'blog_section': 'feed',\n    }\n}]"
      },
      "id": "e1000002-0001-4000-8000-000000000004",
      "name": "Format Feed Entry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 520]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      },
      "id": "e1000002-0001-4000-8000-000000000005",
      "name": "Merge Formatted",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1000, 400]
    },
    {
      "parameters": {},
      "id": "e1000002-0001-4000-8000-000000000006",
      "name": "Commit to GitHub",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1260, 400],
      "notes": "CONFIGURE: Replace this with a GitHub node.\n\nOperation: Create or Update File\nRepository: your-username/your-astro-blog\nFile Path: {{ $json.file_path }}\nFile Content: {{ $json.file_content }}\nCommit Message: {{ $json.commit_message }}\n\nRequires GitHub OAuth credentials in n8n.\nAfter the commit, GitHub Actions / Vercel / Netlify will auto-rebuild."
    }
  ],
  "connections": {
    "Workflow Trigger": {
      "main": [[{ "node": "Route by Blog Section", "type": "main", "index": 0 }]]
    },
    "Route by Blog Section": {
      "main": [
        [{ "node": "Format Mindmap Entry", "type": "main", "index": 0 }],
        [{ "node": "Format Feed Entry", "type": "main", "index": 0 }],
        [{ "node": "Format Feed Entry", "type": "main", "index": 0 }]
      ]
    },
    "Format Mindmap Entry": {
      "main": [[{ "node": "Merge Formatted", "type": "main", "index": 0 }]]
    },
    "Format Feed Entry": {
      "main": [[{ "node": "Merge Formatted", "type": "main", "index": 1 }]]
    },
    "Merge Formatted": {
      "main": [[{ "node": "Commit to GitHub", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
