n8n/workflows/07-personal-content.json
{
  "name": "Personal Content → Email or Discard",
  "nodes": [
    {
      "parameters": {},
      "id": "e1000003-0001-4000-8000-000000000001",
      "name": "Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [220, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "leftValue": "={{ $json.priority }}",
              "rightValue": 4,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "e1000003-0001-4000-8000-000000000002",
      "name": "High Priority?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "item = _input.first().json\ntitle = item.get('title', 'Untitled')\nurl = item.get('url', '')\nsummary = item.get('summary', 'No summary')\ntopic = item.get('topic', 'other')\npriority = item.get('priority', 3)\ntags = item.get('suggested_tags', [])\n\n# Build email body\nbody = f'<h2>{title}</h2>\\n'\nbody += f'<p>{summary}</p>\\n'\nif url:\n    body += f'<p><a href=\"{url}\">View original</a></p>\\n'\nbody += f'<p><em>{topic} · priority {priority} · {\", \".join(tags)}</em></p>\\n'\n\nsubject = f'[Automate] {topic}: {title[:60]}'\n\nreturn [{\n    'json': {\n        'email_subject': subject,\n        'email_body': body,\n        'title': title,\n    }\n}]"
      },
      "id": "e1000003-0001-4000-8000-000000000003",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {},
      "id": "e1000003-0001-4000-8000-000000000004",
      "name": "Send Email",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [940, 300],
      "notes": "CONFIGURE: Replace with Gmail Send node.\n\nTo: your-email@gmail.com\nSubject: {{ $json.email_subject }}\nBody (HTML): {{ $json.email_body }}\n\nRequires Gmail OAuth credentials."
    },
    {
      "parameters": {},
      "id": "e1000003-0001-4000-8000-000000000005",
      "name": "Discard Quietly",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [700, 520],
      "notes": "Low-priority personal content. No action needed.\nBookmark gets deleted by the extension response in workflow 05.\nEmail newsletters get archived by cleanup in workflow 05."
    }
  ],
  "connections": {
    "Workflow Trigger": {
      "main": [[{ "node": "High Priority?", "type": "main", "index": 0 }]]
    },
    "High Priority?": {
      "main": [
        [{ "node": "Format Email", "type": "main", "index": 0 }],
        [{ "node": "Discard Quietly", "type": "main", "index": 0 }]
      ]
    },
    "Format Email": {
      "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
