n8n/workflows/08-email-priority-digest.json
{
  "name": "Daily Email Priority Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "triggerAtHour": 8 }]
        }
      },
      "id": "e1000004-0001-4000-8000-000000000001",
      "name": "Daily 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 400]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": false,
        "limit": 25,
        "filters": {
          "q": "is:inbox is:starred -label:automate-replied newer_than:7d"
        }
      },
      "id": "e1000004-0001-4000-8000-000000000002",
      "name": "Fetch Unreplied Starred",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [480, 400],
      "notes": "Fetches starred emails from the past 7 days that haven't been replied to.\nThese were starred by workflow 05 when action=flag_reply."
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "e1000004-0001-4000-8000-000000000003",
      "name": "Process One at a Time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 400]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "item = _input.first().json\nemail_from = item.get('from', 'Unknown')\nsubject = item.get('subject', 'No subject')\nbody = item.get('text', item.get('snippet', ''))\n\n# Truncate for LLM context\nif isinstance(body, str) and len(body) > 4000:\n    body = body[:4000]\n\nprompt = f\"\"\"Summarize this email conversation for a daily priority digest.\n\nFrom: {email_from}\nSubject: {subject}\n\nBody:\n{body}\n\nProvide a brief summary in this format:\n- What they need from me:\n- Current status/where we left off:\n- Suggested next action:\n\nKeep each point to 1-2 sentences max.\"\"\"\n\nreturn [{\n    'json': {\n        'email_id': item.get('id', ''),\n        'email_from': email_from,\n        'email_subject': subject,\n        'summary_prompt': prompt,\n    }\n}]"
      },
      "id": "e1000004-0001-4000-8000-000000000004",
      "name": "Build Summary Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'qwen2.5:7b', messages: [{ role: 'user', content: $json.summary_prompt }], stream: false, options: { temperature: 0.2 } }) }}",
        "options": { "timeout": 120000 }
      },
      "id": "e1000004-0001-4000-8000-000000000005",
      "name": "Summarize with Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Extract summary and merge with email metadata\nollama_response = _input.first().json\nprevious = $('Build Summary Prompt').first().json\n\nsummary = ''\nif 'message' in ollama_response and 'content' in ollama_response['message']:\n    summary = ollama_response['message']['content']\nelif 'response' in ollama_response:\n    summary = ollama_response['response']\n\nreturn [{\n    'json': {\n        'email_id': previous.get('email_id', ''),\n        'email_from': previous.get('email_from', ''),\n        'email_subject': previous.get('email_subject', ''),\n        'context_summary': summary,\n    }\n}]"
      },
      "id": "e1000004-0001-4000-8000-000000000006",
      "name": "Parse Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime\n\nitems = _input.all()\ncount = len(items)\nnow = datetime.now().strftime('%A, %B %d')\n\n# Build the digest HTML\nhtml = f'<h1>Email Priority Digest — {now}</h1>\\n'\nhtml += f'<p><strong>{count} email{\"s\" if count != 1 else \"\"} need{\"\" if count != 1 else \"s\"} your attention</strong></p>\\n'\nhtml += '<hr>\\n'\n\nfor item in items:\n    d = item.json\n    html += f'<h2>{d.get(\"email_subject\", \"No subject\")}</h2>\\n'\n    html += f'<p><strong>From:</strong> {d.get(\"email_from\", \"Unknown\")}</p>\\n'\n    html += f'<div>{d.get(\"context_summary\", \"No summary available.\")}</div>\\n'\n    html += '<hr>\\n'\n\nsubject = f'[Automate] {count} email{\"s\" if count != 1 else \"\"} need replies — {now}'\n\nreturn [{\n    'json': {\n        'digest_html': html,\n        'digest_subject': subject,\n        'count': count,\n    }\n}]"
      },
      "id": "e1000004-0001-4000-8000-000000000007",
      "name": "Format Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 400]
    },
    {
      "parameters": {},
      "id": "e1000004-0001-4000-8000-000000000008",
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1920, 400],
      "notes": "CONFIGURE: Replace with Gmail Send node.\n\nTo: your-email@gmail.com\nSubject: {{ $json.digest_subject }}\nBody (HTML): {{ $json.digest_html }}\n\nRequires Gmail OAuth credentials."
    }
  ],
  "connections": {
    "Daily 8am": {
      "main": [[{ "node": "Fetch Unreplied Starred", "type": "main", "index": 0 }]]
    },
    "Fetch Unreplied Starred": {
      "main": [[{ "node": "Process One at a Time", "type": "main", "index": 0 }]]
    },
    "Process One at a Time": {
      "main": [
        [{ "node": "Build Summary Prompt", "type": "main", "index": 0 }],
        [{ "node": "Format Digest", "type": "main", "index": 0 }]
      ]
    },
    "Build Summary Prompt": {
      "main": [[{ "node": "Summarize with Ollama", "type": "main", "index": 0 }]]
    },
    "Summarize with Ollama": {
      "main": [[{ "node": "Parse Summary", "type": "main", "index": 0 }]]
    },
    "Parse Summary": {
      "main": [[{ "node": "Process One at a Time", "type": "main", "index": 0 }]]
    },
    "Format Digest": {
      "main": [[{ "node": "Send Digest Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
