n8n/workflows/email_triage.json
{
  "name": "Email Triage Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 4 }]
        }
      },
      "name": "Schedule (Every 4 Hours)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [250, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://api:8000/emails/process",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "account_id", "value": 1 },
            { "name": "query", "value": "is:inbox newer_than:1d" },
            { "name": "max_results", "value": 50 }
          ]
        }
      },
      "name": "Process Emails",
      "type": "n8n-nodes-base.httpRequest",
      "position": [500, 300],
      "typeVersion": 3
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.item_count }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "Has Emails?",
      "type": "n8n-nodes-base.if",
      "position": [750, 300],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://api:8000/reviews/{{ $json.batch_id }}",
        "method": "GET"
      },
      "name": "Get Batch Details",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 200],
      "typeVersion": 3
    },
    {
      "parameters": {},
      "name": "No Emails - Done",
      "type": "n8n-nodes-base.noOp",
      "position": [1000, 400],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Schedule (Every 4 Hours)": {
      "main": [[{ "node": "Process Emails", "type": "main", "index": 0 }]]
    },
    "Process Emails": {
      "main": [[{ "node": "Has Emails?", "type": "main", "index": 0 }]]
    },
    "Has Emails?": {
      "main": [
        [{ "node": "Get Batch Details", "type": "main", "index": 0 }],
        [{ "node": "No Emails - Done", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "automate-local"
  }
}
