n8n/workflows/inbox-organizer-subworkflow.json
{
  "id": "e0vcY_9yGvQbABiZQrzvX",
  "name": "Inbox Organizer - Subworkflow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        896,
        -432
      ],
      "id": "ca02cb57-af5a-4cf1-a8d2-dd0d5ba9f509",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6ea2c9bc-acf0-4579-be7a-edee3116a442",
              "leftValue": "={{ $json.name }}",
              "rightValue": "CHAT|INBOX|SENT|IMPORTANT|TRASH|DRAFT|SPAM|CATEGORY_FORUMS|CATEGORY_UPDATES|CATEGORY_PERSONAL|CATEGORY_PROMOTIONS|CATEGORY_SOCIAL|YELLOW_STAR|STARRED|UNREAD",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            },
            {
              "id": "2c0add22-d685-4894-8311-5e2f9564d155",
              "leftValue": "={{ $json.name }}",
              "rightValue": "smart_label_root_name|Notes",
              "operator": {
                "type": "string",
                "operation": "notRegex"
              }
            },
            {
              "id": "a3bc1f21-8663-40f7-a112-d3b16619f4bb",
              "leftValue": "={{ $json.name }}",
              "rightValue": "ORGANIZE_ME",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        448,
        -432
      ],
      "id": "3a101383-39a3-4e56-a980-8a48350bcd10",
      "name": "Remove Built In Labels"
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        224,
        -432
      ],
      "id": "cb37f2b5-8e3d-4e79-8856-1b7288b48972",
      "name": "Get All Current Labels",
      "webhookId": "235dafd8-b5b2-4bc5-9983-2640a32e6567"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        672,
        -432
      ],
      "id": "dcd8b9ee-d475-4d4b-a13a-a547baf1ca09",
      "name": "Sort"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an expert email classifier. Your goal is to route emails to the correct category based on the provided list.\n\n### INPUT DATA\n**From:** {{ $('Email').item.json.From }}\n**Subject:** {{ $('Email').item.json.Subject }}\n**Content:** {{ $('Email').item.json.snippet }}\n\n### VALID LABELS\n{{ JSON.stringify($('Aggregate').first().json.name) }}\n\n### INSTRUCTIONS\n1. **Analyze:** Read the sender, subject, and content.\n2. **Match:** Select the *single* most appropriate label from the \"VALID LABELS\" list.\n3. **Output:** Return **ONLY** the exact label name.\n   - Do not include reasoning.\n   - Do not include markdown formatting (like bolding or backticks).\n   - Do not include the word \"Label:\".\n   - If no label matches perfectly, return \"INBOX\".\n\n### EXAMPLE OUTPUT\nEnt/Expense"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1120,
        -360
      ],
      "id": "b476de1b-7367-49aa-b0f0-bc7afc0750aa",
      "name": "Classify"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.msg_id }}",
        "labelIds": "={{ $json.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1696,
        -360
      ],
      "id": "ade218b4-bfd7-4ec2-bb0c-b8d340548851",
      "name": "Add Label",
      "webhookId": "e7dea26f-1c69-47fd-b7e1-2664c82f5361"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the text from the LLM\n// Note: We use .first() to ensure we just get the one string\nconst llmLabelName = $('Classify').first().json.content.parts[0].text.trim();\n\n// 2. Load all your labels from the \"Get All Current Labels\" node\n// (Make sure this node is named exactly as it appears in your workflow)\nconst allLabels = $('Get All Current Labels').all().map(item => item.json); \n\n// 3. Find the matching ID\nconst matchedLabel = allLabels.find(l => l.name === llmLabelName);\n\nif (!matchedLabel) {\n  throw new Error(`Could not find a label ID for the name: \"${llmLabelName}\"`);\n}\n\nreturn {\n  json: {\n    // Pass the original Message ID through\n    msg_id: $('Email').first().json.id, \n    // Pass the resolved Label ID\n    label_id: matchedLabel.id \n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -360
      ],
      "id": "25788261-1812-4e9b-8190-a5c948d71afe",
      "name": "Match Msg ID / Label ID"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "id"
            },
            {
              "name": "From"
            },
            {
              "name": "To"
            },
            {
              "name": "Subject"
            },
            {
              "name": "snippet"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -360
      ],
      "id": "5ee5e734-a20b-4faa-b07d-2ea7b5032e6f",
      "name": "Email"
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Built In Labels": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Current Labels": {
      "main": [
        [
          {
            "node": "Remove Built In Labels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify": {
      "main": [
        [
          {
            "node": "Match Msg ID / Label ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Msg ID / Label ID": {
      "main": [
        [
          {
            "node": "Add Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email": {
      "main": [
        [
          {
            "node": "Get All Current Labels",
            "type": "main",
            "index": 0
          },
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
